/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:"Poppins",sans-serif;
}

:root{
    --bg-color: #081b29;
    --main-color:#00abf0;
    --text-color:#333;
    --second-text-color:#555;
    --white-color:#fff;
    --cover-color:linear-gradient(45deg,#00abf0,#006e9a);
    --page-color:linear-gradient(90deg, #fff, #ddd);  
    --border:.125rem solid #00abf0;
    ---box-shadow:0 0 .6rem rgba(0,0,0,.2);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}

.wrapper{
    position: relative;
    width: 66rem;
    height: 34rem;
    padding: 2rem;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(---box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover .cover-left{
    z-index: -1;
}

.cover.cover-right.turn{
    transform:rotateY(180deg);
}

.book{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book .book-page{
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--page-color);
    box-shadow: 0 0 .6rem rgba(0,0,0,.1);
    display: flex;
    padding: 2rem;
}

.book-page.page-right{
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645,.045,.355,.5);


}

.book-page.page-right.turn{
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 2rem;
} 

.book-page .page-front{
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back{
    transform: rotateY(180deg) translateZ(1px);
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}


.number-page{
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn{
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    color:var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nextprev-btn:hover{
    color: var(--main-color);   
}

.nextprev-btn.back{
    left: 1.5rem;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --page-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #00abf0;
    ---box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: var(--bg-color);
    position: relative;
}

/* .book{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 90%;
    background: var(--cover-color);
    box-shadow: var(---box-shadow);
    border-radius: .6rem;
    margin:2rem 0px 2rem 12rem;
    transform-origin: left;
} */
.p1,
.p2,
.p3{
    margin-top: 3.5rem;
    background: #fff;
    width:35%;
    height: 80%;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.p1{
    z-index: 3;
    position: absolute;
}
.p2{
    z-index: 2;
    position: absolute;
}
.p3{
    z-index: 1;
    position: relative;
}

.front,
.back{
    /* background: #ddd; */
    width: 35%;
    height: 80%;
}

.front{
    z-index: 1;
    /* position: absolute; */
}
.back{
    z-index: 0;
        /* position: relative; */
}

